@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=East+Sea+Dokdo&family=Fredoka+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(12, 30, 37);
    font-family: 'Bai Jamjuree', sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.img_o {
    width: 2.1875rem;
    height: 2.1875rem;
}

.img_x {
    width: 2rem;
    height: 2rem;
}


.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#container {}

#nav {
    padding: 1rem;
}

#nav img {
    width: 1.25rem;
    height: 1.25rem;
}

#turn {
    padding: 0.4rem 1.25rem;
    font-weight: 800;
    background-color: rgb(32, 54, 64);
    border-radius: 12px;
    border: none;
    color: white;
}

#return {
    padding: 0.5rem;
    background-color: #c4c4c4;
    border-radius: 12px;
}

#btn-containr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    place-items: center;

}

.btn-play {
    width: 7.5rem;
    height: 7.5rem;
    display: grid;
    place-items: center;
    background-color: rgb(32, 54, 64);
    border-radius: 0.75rem;
    box-shadow: 9px 9px 12px 0px black;
}

.result {
    padding: 0.8rem 1.2rem;
    border-radius: .75rem;
    width: 7.5rem;
    text-align: center;
}

.result h5 {
    text-transform: uppercase;
    font-weight: 600;
}

#f-r {
    background-color: rgb(59, 195, 190);
}

#s-r {
    background-color: rgb(169, 191, 201);
}

#t-r {
    background-color: rgb(241, 176, 69);
}

@media screen and (max-width:500px) {
    #container {
        padding: 0 2rem;
    }

    .btn-play {
        width: 5.5rem;
        height: 5.5rem;
    }

    .result {
        width: 5.5rem;
        padding: 0.5rem 1rem;
    }

    .result h5 {
        font-size: .8rem;
    }

}